@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: 255 255 255;
	--text: 17 24 39;
}

html, body, #root {
	height: 100%;
}

body {
	background: rgb(var(--bg));
	color: rgb(var(--text));
}
